.margin-auto {
    margin:auto;
    margin-top: 50%;
    width: 300px;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.warning {
    border: 5px solid black;
    margin: auto;
}

.alert-link {
    margin-left:21px ;
}

.heading {
    margin-top: 51px;
    margin-left: 35px;
    margin-bottom: 100px;
}

.btn {
    margin-top: 100px;
    margin-left: 85px;
    width: 200px;
}