.margin-auto {
  margin: auto;
  margin-top: 50%;
  width: 300px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.warning {
  border: 5px solid black !important;
}

.alert-link {
  margin-left: 21px;
}

.heading {
  margin-top: 51px;
  margin-left: 35px;
  margin-bottom: 100px;
}

.continue {
  margin-top: 100px;
  margin-left: 85px;
  width: 200px;
}

.left {
  margin-left: 70px !important;
}

.margin-top {
  margin-top: 100px;
}

.mt-100 {
  margin-top: -50px;
}

.ml-50px {
  margin-left: 50px !important;
}

.resize-none {
  resize: none;
}
